* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body.animar {
    opacity: 1;
}

body {
    background: #E7DEAF;
    opacity: 0;
    transition: opacity .6s ease;
}

header {
    background: #1B3C53;
    padding: 20px 0;
    animation: headerFloat 4s ease-in-out infinite;
}


@keyframes headerFloat{
0%{transform:translateY(0);}
50%{transform:translateY(-20px);}
100%{transform:translateY(0);}
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}

nav a:hover {
    color: #75d58d;
    text-shadow: 0 0 10px #75d58d;
}

h1{
     width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    text-align: center;
    color: #464a6b;
}

.contenido {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    text-align: center;
    color: #ffffff;
}

.faq-cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.card {
    position: relative;
    width: 260px;
    padding: 24px;
    background: #AAC4F5;
    border-radius: 16px;
    transition: transform .25s, box-shadow .25s;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 3;
    transition:transform .4s ease, box-shadow .4s ease;
animation: cardAppear 4s forwards;
}


@keyframes cardAppear{
0%{opacity:0; transform:scale(0.5) rotate(-10deg);}
100%{opacity:1; transform:scale(1) rotate(0);}
}

.card:hover {
    transform: translateY(5px);
    box-shadow: 0 10px 25px rgba(209, 44, 209, 0.808);
}

.card h2,
.card p {
    position: relative;
    z-index: 3;
}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.acordeon-btn {
    background: #92487A;
    color: #ffffff;
    text-align: left;
    border: none;
    padding: 15px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: .3s;
animation: lateral 2s ease-in-out infinite alternate;
}

@keyframes lateral {
    from { transform: translateX(0); }
    to   { transform: translateX(25px); }
}

.acordeon-btn:hover {
    background: #68c67e;
}

.acordeon-contenido {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 10px auto;
    background: rgb(160, 187, 145);
    border-radius: 8px;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: height .3s ease, padding .3s ease;
}

.acordeon-contenido.mostrar {
    padding: 15px;
    height: auto;
}

.faq-burbujas {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.burbujas {
    width: 40px;
    height: 40px;
    background: #456882;
    border-radius: 50%;
    transition: transform .2s;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-6px); }
    100% { transform: translateY(0px); }
}
.burbujas.resaltar {
    transform: scale(1.3);
}

.contenedor{
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}

.tarjeta{
    height: 250px;
    width: 250px;
    background-color: #658C58;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #615e5e;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta::before{
    content: "";
    position: absolute;
    height: 400px;
    width: 400px;
    background-image: conic-gradient(#BBC863 20deg, transparent 120deg);
    animation: rotar 2s linear infinite;
}

@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

.tarjeta::after{
    content: "";
    position: absolute;
    height: 230px;
    width: 230px;
    background-color: #658C58;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #615d5d;
}

h3{
    color: white;
    z-index: 2;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    justify-content: center;
    text-shadow: 5px 5px 5px grey;
    position: absolute;
}

.boton-modal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #BBC863;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s;
}
.boton-modal:hover {
  transform: scale(1.05);
}

.modal-visible, .modal-oculto {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease;
  z-index: 9999;
}

.modal-oculto {
  opacity: 0;
  pointer-events: none;
}
.modal-visible {
  opacity: 1;
}

.modal-contenido {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  font-family: 'Pacifico', cursive;
  animation: aparecer 0.3s ease;
}

@keyframes aparecer {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
}
