* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #fafafa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #75d58d;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}